#board {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid black;
    transition: transform 1.5s;
}

#board > div {
    border: 2px solid black;
    position: relative;
}

#board > div > img {
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    display: block;
    position: absolute;
    transition: transform 1.5s;
}